{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": [2, 120],
    "react/jsx-props-no-spreading": 0,
    "react/button-has-type": 0,
    "jsx-quotes": [
      "error",
      "prefer-single"
    ]
  }
}